.container_award {
    background: #061C31;
    height: 1024px;
    z-index: 0;
    .treasure{
        margin-top: 150px;
        transition-delay:3s;
    }
    // .treasure_half{
    //     visibility:hidden;
    // }
    // .treasure_open{
    //     visibility: hidden;
    // }
}