@mixin media-lg {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin media-md {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin media-sm {
	@media screen and (max-width: 414px) {
		@content;
	}
}

.container_award {
    background: #061C31;
    height: 1024px;
    z-index: 0;
    .ellipse{
        opacity: 0.3;
        @include media-lg{
            // width: 90%;
        }
        @include media-md{
            width: 90%;
        }
    }
    .treasure_all{
        background-repeat: no-repeat;
        opacity: 1;
        background-image: url('../../../../src/assets/images/treasure_close.png');
        width: 300px;
        height: 500px;
        position: absolute;
        margin-top: 780px;
        @include media-lg{
            margin-top: 680px;
        }
        @include media-sm{
            background-size: 60%;
        }
    }
    .text-content{
        position: absolute;
    }
    .text-content-inner{
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        p{
            font-size: 16px;
        }
        @include media-lg{
            font-size: 18px;
        }
        @include media-md{
            font-size: 16px;
        }
        @include media-lg{
            font-size: 14px;
        }
    }
    .text-content-title{
        font-size: 40px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        line-height: 3rem;
        @include media-lg{
            font-size: 36px;
        }
        @include media-md{
            font-size: 30px;
        }
        @include media-sm{
            font-size: 24px;
        }
    }
 
}