@mixin media-lg {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin media-md {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin media-sm {
	@media screen and (min-width: 414px) {
		@content;
	}
}

.container_break {
    background: #061C31;
    height: 1024px;
    z-index: 0;
    .warrior{
        img{
            max-width: 400px!important;
            @include media-md{
                max-width: 250px!important;
            }
        }
    }
    .badGuy{
        img{
            max-width: 400px!important;
            @include media-md{
                max-width: 250px!important;
            }
        }
    }
    .allCenter{
            img{
                max-width: 1000px !important;
            }

            // @include media-lg{
            //     width: 800px;
            // }
            // @include media-md{
            //     width: 600px;
            // }
        
    }
}

