.container_break {
    background: #061C31;
    height: 1024px;
    z-index: 0;
    .allCenter{
        width:1000px;
        height: auto;
        .breakquestion_bg{
            width: 800px;
        }
        .castle{
            width: 200px;
        }
    }
}

