@mixin media-lg {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin media-md {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin media-sm {
	@media screen and (max-width: 414px) {
		@content;
	}
}

.container_break {
    background: #061C31;
    height: 1024px;
    z-index: 0;
    .warrior{
        // img{
        //     max-width: 400px;
        //     @include media-lg{
        //         width:300px;
        //     }
        //     @include media-md{
        //         max-width: 200px!important;
        //     }
        //     @include media-sm{
        //         max-width: 130px!important;
        //     }
        // }
        width: 400px;
        @include media-lg{
            width:300px;
        }
        @include media-md{
            width:30%;
        }
    }
    .badGuy{
        // img{
        //     max-width: 400px;
            
        //     @include media-lg{
        //     width:300px;
        //     }
        //     @include media-md{
        //         max-width: 200px!important;
        //     }
        //     @include media-sm{
        //         max-width: 130px!important;
        //     }
        // }
        width: 400px;
        @include media-lg{
            width:300px;
        }
        @include media-md{
            width:30%;
        }

    }
    .break_title{
        font-size: 4.5rem;
        line-height: 4.5rem;
        position: absolute;
        left: 47%;
        @include media-md{
            font-size: 3rem;
            line-height: 3rem;
        }
        @include media-sm{
            font-size: 2rem;
            line-height: 2rem;
        }
    }
    .breakquestion_bg{
        @include media-lg{
            width:80%;
        }
        @include media-sm{
            width:60%;
        }
    }
    .allCenter{
            // img{
            //     max-width: 1000px !important;
            //     @include media-lg{
            //         width:600px;
            //     }
            //     @include media-md{
            //         max-width: 500px!important;
            //     }
            //     @include media-sm{
            //         max-width: 300px!important;
            //     }
            // }
            background-image: url(/src/assets/images/img_bg_big.png);
            background-repeat: no-repeat;
            object-fit: cover;
            background-size:contain;
            height: 200px;

    }
}

